#info-reserva {
    padding: 20px;
    text-align: center;
}

.container {
    margin-top: 20px;
}

#taskInput {
    padding: 10px;
    width: 300px;
    border: 2px solid #ff69b4; /* Borde rosa */
    border-radius: 5px; /* Bordes redondeados */
}

#addTask {
    padding: 10px 15px;
    background-color: #ff69b4; /* Botón rosa */
    color: white; /* Color del texto en el botón */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#addTask:hover {
    background-color: #ff1493; /* Color más oscuro al pasar el mouse */
}

/* Estilos para la lista de tareas */
#taskList {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

#taskList li {
    background-color: #fff; /* Color blanco para las tareas */
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ff69b4; /* Borde rosa */
    border-radius: 5px; /* Bordes redondeados */
}


/* Estilos del pie de página */
footer {
    background-color: #ffcccb; /* Color de fondo del pie de página */
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}